@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
